.work{
   padding-top: 20px;

  .user-pic-container{
    padding-top: 20px;
  }
   .user-pic{
     width: 140px;
     height: 140px;
     border: 4px solid gray;
   }

   .profile-rate{
     font-size: 30px;
     .glyphicon-star{
       color: #ffff30;

     }
     .glyphicon-star-empty{
       color: #ffff30;

     }
   }

 }