<div ng-controller="redeemMealCtrl" class="container redeem-meal">
    {{title}}
    <div class="row">
        <div class="col-sm-12">
            <div class="thumbnail">
                <img src="images/walkingCoyo.png" class="img-rounded">
                <div class="caption text-left clearfix">
                    <h3>Coyo Taco</h3>
                    <p>Please show the barcode below to staff.</p>
                    <div class="panel">
                        <div class="panel-body">
                            <img src="images/barcode.gif"/>
                        </div>

                    </div>
                    <p><a href="#" class="btn btn-default pull-right" role="button"><span class="glyphicon glyphicon-print" aria-hidden="true"></span> Print</a></p>
                </div>
            </div>
        </div>
    </div>
</div>