<ion-view view-title="Login">
    <ion-content>
        <div class="row login">
            <div class="col-sm-6 col-sm-offset-3">
                <div class="form-group">

                    <div class="form-group">

                        <div class="input-group">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-user"></span>
                                </span>
                            <input type="text" class="form-control" placeholder="Username"
                                   aria-describedby="sizing-addon1"
                                    ng-model="username">
                        </div>
                    </div>

                    <div class="form-group">

                        <div class="input-group">
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-lock"></span>
                            </span>
                            <input type="text" class="form-control"
                                   placeholder="Password"
                                   aria-describedby="sizing-addon2"
                                   ng-model="password">
                        </div>
                        <br>
                        <span class="text-primary"> forgot password?</span>

                    </div>


                    <a class="pull-right btn btn-primary" href="#/tab/meals">Login</a>



                </div>
            </div>

        </div>

    </ion-content>
</ion-view>