<ion-view view-title="Meals">
    <ion-content>
        <div class="container meals">

            <div class="row">
                <div class="col-sm-6 col-sm-offset-3 text-center">
                    <button class=" scan-meal-btn btn btn-primary" ng-click="scanMeal()"><span class="glyphicon glyphicon-camera"></span> Scan a meal</button>
                </div>
            </div>
            <div class="row padding-top-20">
                <div class="col-sm-8 col-sm-offset-2">
                    <div class="list-group">
                        <li class="list-group-item list-header text-center">
                            <div class="list-title">My meals <span class="badge">{{meals.length}}</span></div>
                        </li>

                        <a class="list-group-item clearfix" ng-repeat="meal in meals" href="#/tab/meals/:{{meal.id}}">
                            <div class="row">
                                <div class="col-xs-4">
                                    <img class="my-meal-image img-rounded" ng-src="{{meal.picture}}" alt="taco">

                                </div>
                                <div class="col-xs-6">
                                    <h4 class="list-group-item-heading restaurant-name">{{meal.restaurant}}</h4>

                                </div>
                                <div class="col-xs-2">
                                    <span><i class=' caret glyphicon glyphicon-chevron-right pull-right'></i></span>
                                </div>
                            </div>
                        </a>
                        <!--<a href="#" class="list-group-item clearfix">-->
                        <!--<img class="my-meal-image pull-right img-rounded" src="images/mc.jpg" alt="taco">-->
                        <!--<h4 class="list-group-item-heading">Mc Donalds</h4>-->

                        <!--<p class="list-group-item-text">Cras sit amet nibh libero</p>-->
                        <!--</a>-->
                        <!--<a href="#" class="list-group-item clearfix">-->
                        <!--<img class="my-meal-image pull-right img-rounded" src="images/pt.jpg" alt="taco">-->
                        <!--<h4 class="list-group-item-heading">Pollo Tropical</h4>-->

                        <!--<p class="list-group-item-text">Cras sit amet nibh libero</p>-->
                        <!--</a>-->
                        <!--<a href="#" class="list-group-item clearfix">-->
                        <!--<img class="my-meal-image pull-right img-rounded" src="images/ws.jpg" alt="taco">-->
                        <!--<h4 class="list-group-item-heading">Wendy's</h4>-->

                        <!--<p class="list-group-item-text">Cras sit amet nibh libero</p>-->
                        <!--</a>-->

                    </div>
                </div>

            </div>
        </div>
    </ion-content>
</ion-view>

<!--<div class="container meals">-->
<!--<div>{{title}}</div>-->
<!--<div class="btn-group btn-group-justified " role="group" aria-label="...">-->
<!--<div class="btn-group" role="group">-->
<!--<button type="button" class="btn btn-default active">My Meals <span class="badge">4</span></button>-->
<!--</div>-->
<!--<div class="btn-group" role="group">-->
<!--<button type="button" class="btn btn-default">Scan Meals</button>-->
<!--</div>-->
<!--</div>-->

<!--<div class="list-group">-->
<!--<a href="#" class="list-group-item clearfix">-->
<!--<img class="my-meal-image pull-right img-rounded" src="images/coyo-taco.jpg" alt="taco">-->
<!--<h4 class="list-group-item-heading">Coyo</h4>-->
<!--<p class="list-group-item-text">Cras sit amet nibh libero</p>-->
<!--</a>-->
<!--<a href="#" class="list-group-item clearfix">-->
<!--<img class="my-meal-image pull-right img-rounded" src="images/mc.jpg" alt="taco">-->
<!--<h4 class="list-group-item-heading">Mc Donalds</h4>-->
<!--<p class="list-group-item-text">Cras sit amet nibh libero</p>-->
<!--</a>-->
<!--<a href="#" class="list-group-item clearfix">-->
<!--<img class="my-meal-image pull-right img-rounded" src="images/pt.jpg" alt="taco">-->
<!--<h4 class="list-group-item-heading">Pollo Tropical</h4>-->
<!--<p class="list-group-item-text">Cras sit amet nibh libero</p>-->
<!--</a>-->
<!--<a href="#" class="list-group-item clearfix">-->
<!--<img class="my-meal-image pull-right img-rounded" src="images/ws.jpg" alt="taco">-->
<!--<h4 class="list-group-item-heading">Wendy's</h4>-->
<!--<p class="list-group-item-text">Cras sit amet nibh libero</p>-->
<!--</a>-->

<!--</div>-->

<!--&lt;!&ndash;<img class="my-meal-image" src="images/coyo-taco.jpg" alt="taco">&ndash;&gt;-->


<!--</div>-->