<div class="container meals">
    <div>{{title}}</div>
    <div class="btn-group btn-group-justified " role="group" aria-label="...">
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-default active">My Meals <span class="badge">4</span></button>
        </div>
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-default">Scan Meals</button>
        </div>
    </div>

        <div class="list-group">
            <a href="#" class="list-group-item clearfix">
                <img class="my-meal-image pull-right img-rounded" src="images/coyo-taco.jpg" alt="taco">
                <h4 class="list-group-item-heading">Coyo</h4>
                <p class="list-group-item-text">Cras sit amet nibh libero</p>
            </a>
            <a href="#" class="list-group-item clearfix">
                <img class="my-meal-image pull-right img-rounded" src="images/mc.jpg" alt="taco">
                <h4 class="list-group-item-heading">Mc Donalds</h4>
                <p class="list-group-item-text">Cras sit amet nibh libero</p>
            </a>
            <a href="#" class="list-group-item clearfix">
                <img class="my-meal-image pull-right img-rounded" src="images/pt.jpg" alt="taco">
                <h4 class="list-group-item-heading">Pollo Tropical</h4>
                <p class="list-group-item-text">Cras sit amet nibh libero</p>
            </a>
            <a href="#" class="list-group-item clearfix">
                <img class="my-meal-image pull-right img-rounded" src="images/ws.jpg" alt="taco">
                <h4 class="list-group-item-heading">Wendy's</h4>
                <p class="list-group-item-text">Cras sit amet nibh libero</p>
            </a>

        </div>

                <!--<img class="my-meal-image" src="images/coyo-taco.jpg" alt="taco">-->




</div>