<ion-tabs class="tabs-stable tabs-icon-top tabs-color-positive" ng-cloak>

    <ion-tab title="Find" icon-on="ion-ios-star" icon-off="ion-ios-star-outline" href="#/tab/map">
        <ion-nav-view name="tab-map"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Meals" icon-on="ion-ios-clock" icon-off="ion-ios-clock-outline" href="#/tab/login">
        <ion-nav-view name="tab-login"></ion-nav-view>
        <ion-nav-view name="tab-meals"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Work" icon-on="ion-ios-person" icon-off="ion-ios-person-outline" href="#/tab/work">
        <ion-nav-view name="tab-work"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Go Green" icon-on="ion-ios-chatbubble" icon-off="ion-ios-chatbubble-outline" href="#/tab/green">
        <ion-nav-view name="tab-green"></ion-nav-view>
    </ion-tab>

    <!--<ion-tab title="Settings" icon-on="ion-ios-cog" icon-off="ion-ios-cog-outline" href="#/tab/settings">-->
        <!--<ion-nav-view name="tab-settings"></ion-nav-view>-->
    <!--</ion-tab>-->

</ion-tabs>