<ion-view view-title="Work">
    <ion-content>
        <div class="container work">
            <div class="row">
                <div class="col-sm-12">

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-sm-4 text-center user-pic-container">

                                    <img src="images/radioDj.jpg" class="user-pic img-circle">
                                    <div>
                                        <h3 class="lead">Ted Williams</h3>
                                    </div>
                                </div>
                                <div class="col-sm-8">


                                </div>

                            </div>
                        </div>
                        <div class="panel-body">
                            <h2>Previously worked with...</h2>
                            <hr>
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-sm-8">
                                        <h3>John Doe</h3>
                                        <p>Ted has a great personality. He's radio voice is amazing and we had great feedback from our customers for the commercials he performed while on WTFN.</p>
                                    </div>
                                    <div class="col-sm-4 text-center">
                                        <div class="profile-rate">
                                            <span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span>
                                        </div>
                                    </div>

                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-sm-8">
                                        <h3>Donald Trump</h3>
                                        <p>Mr. Williams is a professional with great integrity and values. I would hire him again.</p>
                                    </div>
                                    <div class="col-sm-4 text-center">
                                        <div class="profile-rate">
                                            <span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span>

                                        </div>
                                    </div>

                                </div>
                            </div>

                            <br>
                            <h2>Skills</h2>
                            <hr>
                            <div class="container-fluid">

                            <div class="row">


                            </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>

        </div>
    </ion-content>
</ion-view>